.table {
    width: 100%;
    border: 1px rgb(179, 181, 184) solid;
    border-collapse: collapse;
    table-layout: fixed;
}
.table th {
    padding: 10px 5px;
    text-align: left;
    border: 1px rgb(179, 181, 184) solid;
}
.table td {
    padding: 5px;
    border: 1px rgb(179, 181, 184) solid;
}
.table tfoot td {
    text-align: right;
}
.text_test {
    color: brown;
    margin: 10px;
    font-weight: bold;
}
.content {
    margin-bottom: 50px;
}
.post {
    width: 700px;
    height: 400px;
    padding: 15px 25px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    background-image: url("../img/1.JPG");
    background-repeat: no-repeat;
    background-position: center;
}
.gradient {
    width: 200px;
    height: 600px;
    background-color: aliceblue;
    background-image: linear-gradient(to bottom, grey, white);
}